
.navbar-brand img{
    width: 50px;
}

#main-title {
    text-align: center;
    margin: 15px 0 30px;
}

/* HOME */

#contacts-table {
    max-width: 800px;
    margin: 0 auto;
}

#contacts-table thead {
    color: white;
    background-color: #007bff;
}

.actions {
    text-align: right;
    width: 150px;
}

.col-id {
    font-weight: bold;
}

.actions i {
    font-size: 18px;
    margin-right: 5px;
}

.check-icon {
    color: #1e7e34;
}

.edit-icon {
    color: #007BFF;
}

.delete-icon {
    color: #BD2130;
}

.delete-form {
    display: inline-block;
}

.delete-btn {
    background-color: transparent;
    border: none;
    padding: 0;
}

#empty-list-text {
    text-align: center;
}

#msg {
    color: #155724;
    background-color: #D4EDDA;
    border: 1px solid #c3e6cb;
    padding: 10px;
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}


/* SHOW / CONTATO INDIVIDUAL */
#view-contact-container {
    max-width: 500px;
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}

.back-link-container {
    display: block;
    font-weight: bold;
    margin: 30px auto 0;
}

#back-link{
    text-decoration: none;
    border: 1px solid #007BFF;
    border-radius: 4px;
    color: #007BFF;
    padding: 5px;
}

#back-link:hover {
    color: white;
    background-color: #007BFF;
}

/* CREATE */
.form-group {
    padding: 10px;
}

.btn-primary {
    background-color: #007BFF;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #3695fa;
}

#create-form,
#edit-form {
    max-width: 500px;
    margin: 0 auto;
    
} 

/* MOBILE */
@media(max-width: 480px) {
    #home-link {
        display: none;
    }
}